* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color:#777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    padding-left: 300px;
}

#container {
    width: 100%;
    margin: 310px, 50px, 310px, 350px;
}

#container2 {
    padding-left: 20px;
}

header, nav, section, aside, footer {
    border: 6px solid #777;
    background-color:#ebebeb;
}

header, nav {
    height: 75px;
}

.boxes {
    width: 360px;
    height: 360px;
  }
  #leftBox {
    float: left;
  }
  #rightBox {
    float: right;
  }

section {
    width: 495px;
    height: 345px;
    overflow: clear;
}

aside {
    width: 350px;
    height: 345px;
}

article {
    
    color: #ebebeb;
    background-color: #777;
    text-align: center; 
    height: 300px;
    width: 450px;
}

h3, p {
    border: 6px solid #777;
    color: #777;
    background-color: #ebebeb;
    padding-left: 25px;
    width: 400px;
    height: 50px;
    float: center;
    align-items: center;
}

footer {
    clear: both;
    height: 75px;
 }